<div [hidden]="normalShow">
    <table border="1" class="cea_table">
        <tr><th colspan="17">{{ title }}</th></tr>
        <tr>
            <th><div [ngClass]="{'sorted': this.sort==2}"><a (click)="localSort(2)">Team</a></div></th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
            <th>Q5</th>
            <th>Q6</th>
            <th>Q7</th>
            <th>Q8</th>
            <th>Q9</th>
            <th>Q10</th>
            <th>Q11</th>
            <th>Q12</th>
            <th><div [ngClass]="{'sorted': this.sort==3}"><a (click)="localSort(3)">A</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==1}"><a (click)="localSort(1)">M</a></div></th>
            <th>R</th>
            <!-- <th>S</th> -->
        </tr>
        <tr *ngFor="let a of apiAnalysis_filter">
            <td align="center"><a (click)="teamSelect( a.team )" (dblclick)="teamPage( a.team )"><div [ngClass]="{'sorted': a.team==this.team}">{{ a.team }}</div></a></td>
            <!-- <td align="center"><a routerLink="/robot/{{ a.Team }}">{{ a.Team }}</a></td> -->
            <td align="center" class="bg{{ a?.M1F }}">{{ a.M1D }}</td>
            <td align="center" class="bg{{ a?.M2F }}">{{ a.M2D }}</td>
            <td align="center" class="bg{{ a?.M3F }}">{{ a.M3D }}</td>
            <td align="center" class="bg{{ a?.M4F }}">{{ a.M4D }}</td>
            <td align="center" class="bg{{ a?.M5F }}">{{ a.M5D }}</td>
            <td align="center" class="bg{{ a?.M6F }}">{{ a.M6D }}</td>
            <td align="center" class="bg{{ a?.M7F }}">{{ a.M7D }}</td>
            <td align="center" class="bg{{ a?.M8F }}">{{ a.M8D }}</td>
            <td align="center" class="bg{{ a?.M9F }}">{{ a.M9D }}</td>
            <td align="center" class="bg{{ a?.M10F }}">{{ a.M10D }}</td>
            <td align="center" class="bg{{ a?.M11F }}">{{ a.M11D }}</td>
            <td align="center" class="bg{{ a?.M12F }}">{{ a.M12D }}</td>
            <td align="center" class="bg{{ a?.S1F }}">{{ a.S1D | number : '1.1-1' }}</td>
            <td align="center" class="bg{{ a?.S2F }}">{{ a.S2D | number : '1.1-1' }}</td>
            <td align="center" class="bg{{ a?.S3F }}">{{ a.S3D }}</td>
            <!-- <td align="center" class="bg{{ a?.Summary4Format }}">{{ a.Summary4Display }}</td> -->
        </tr>
    </table>
</div>

<div [hidden]="baShow">
    <table border="1" class="cea_table">
        <tr><th colspan="17">{{ title }}</th></tr>
        <tr>
            <th><div [ngClass]="{'sorted': this.sort==2}"><a (click)="localSort(2)">Team</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==3}"><a (click)="localSort(3)">OPR</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==1}"><a (click)="localSort(1)">R</a></div></th>

        </tr>
        <tr *ngFor="let a of apiAnalysis_filter">
            <td align="center"><a (click)="teamSelect( a.team )" (dblclick)="teamPage( a.team )"><div [ngClass]="{'sorted': a.team==this.team}">{{ a.team }}</div></a></td>
            <td align="right" class="bg{{ a?.S1F }}">{{ a.S1D | number : '1.2-2' }}</td>
            <td align="center" class="bg{{ a?.S2F }}">{{ a.S2D }}</td>

        </tr>
    </table>
</div>


<div [hidden]="pitShow">
    <table border="1" class="cea_table">
        <tr><th colspan="10">{{ title }}</th></tr>
        <tr>
            <th><div [ngClass]="{'sorted': this.sort==2}"><a (click)="localSort(2)">Team</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==11}"><a (click)="localSort(11)">L</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==12}"><a (click)="localSort(12)">W</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==13}"><a (click)="localSort(13)">H</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==14}"><a (click)="localSort(14)">lb</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==15}"><a (click)="localSort(15)">MotorType</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==16}"><a (click)="localSort(16)">BaseType</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==17}"><a (click)="localSort(17)">BQ</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==18}"><a (click)="localSort(18)">EQ</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==19}"><a (click)="localSort(19)">RD</a></div></th>
            <!-- <th><div [ngClass]="{'sorted': this.sort==3}"><a (click)="localSort(3)">A</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==1}"><a (click)="localSort(1)">M</a></div></th> -->

            <!-- <th>S</th> -->
        </tr>
        <tr *ngFor="let a of apiAnalysis_filter">
            <td align="center"><a (click)="teamSelect( a.team )" (dblclick)="teamPage( a.team )"><div [ngClass]="{'sorted': a.team==this.team}">{{ a.team }}</div></a></td>
            <!-- <td align="center"><a routerLink="/robot/{{ a.Team }}">{{ a.Team }}</a></td> -->
            <td align="center" class="bg{{ a?.M1F }}">{{ a.M1D }}</td>
            <td align="center" class="bg{{ a?.M2F }}">{{ a.M2D }}</td>
            <td align="center" class="bg{{ a?.M3F }}">{{ a.M3D }}</td>
            <td align="center" class="bg{{ a?.M4F }}">{{ a.M4D }}</td>
            <td align="center" class="bg{{ a?.M5F }}">{{ a.M5D }}</td>
            <td align="center" class="bg{{ a?.M6F }}">{{ a.M6D }}</td>
            <td align="center" class="bg{{ a?.M7F }}">{{ a.M7D }}</td>
            <td align="center" class="bg{{ a?.M8F }}">{{ a.M8D }}</td>
            <td align="center" class="bg{{ a?.M9F }}">{{ a.M9D }}</td>
            <!-- <td align="center" class="bg{{ a?.Summary4Format }}">{{ a.Summary4Display }}</td> -->
        </tr>
    </table>
</div>