<table border="0" width="100%">
    <tr>
        <td colspan="1" align="left" style="width: 40%;">
            
            <button (click)="setDisplay(0)" [ngClass]="{'selected': display == 0}">Match Overview</button>
            <button (click)="setDisplay(1)" [ngClass]="{'selected': display == 1}">Robot Pictures</button>
            <button (click)="setDisplay(2)" [ngClass]="{'selected': display == 2}">Post Game Info</button>
            <button (click)="setDisplay(3)" [ngClass]="{'selected': display == 3}">Level 2 Data</button>
            <button (click)="setDisplay(5)" [ngClass]="{'selected': display == 5}">Red L2</button>
            <button (click)="setDisplay(6)" [ngClass]="{'selected': display == 6}">Blue L2</button>
            <button (click)="setDisplay(7)" [ngClass]="{'selected': display == 7}">Auto</button>
            <button (click)="setDisplay(4)" [ngClass]="{'selected': display == 4}">SB Predictions</button>
            <button (click)="setDisplay(8)" [ngClass]="{'selected': display == 8}">Mark Predictions</button>
            
        </td> 
        <td colspan="1" align="center" style="width: 20%;"><h2>Match {{matchNum}}</h2>
        <b>Select Match: </b>
        <select list="productName" name="matchSelect" ngModel (ngModelChange)="getMatch($event)">
            <option *ngFor="let m of apiMatchList" [ngValue]="m.matchNum">{{ m.matchNum }}</option>
        </select>
        </td>
        <td style="width: 40%;">
        </td>
    </tr>
</table>   
<table style="width: 100%;" *ngIf="display==0">
    <tr> <!--regular match report-->
        <td align="right" valign="top" >
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam1 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam2 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam3 [color]=1></app-analysis-table>
        </td>
        <td>    
            &nbsp;&nbsp;
        </td>
        <td align="left" valign="top">
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam1 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam2 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam3 [color]=2></app-analysis-table>
        </td>
    </tr>
</table>   
<table style="width: 100%;" *ngIf="display==1">
    <tr> <!--robot pictures-->
        <td align="right" valign="top" style="background-color:red; color: white; font-weight: bold" width="45%">
            <table width="100%"><tr><td algin="center">Team {{ this.redTeam1}}</td><td algin="center">Team {{ this.redTeam2}}</td><td algin="center">Team {{ this.redTeam3}}</td></tr></table>
            <img src = "https://scouting.team195.com/images/frc{{this.redTeam1}}.jpg" alt="No picture of {{this.redTeam1}} yet :(" width="33%">
            <img src = "https://scouting.team195.com/images/frc{{this.redTeam2}}.jpg" alt="No picture of {{this.redTeam2}} yet :(" width="33%">
            <img src = "https://scouting.team195.com/images/frc{{this.redTeam3}}.jpg" alt="No picture of {{this.redTeam3}} yet :(" width="33%">
        </td>
        <td>    
            &nbsp;&nbsp;
        </td>
        <td align="left" valign="top" style="background-color:blue; color: white; font-weight: bold" width="45%">
            <table width="100%"><tr><td algin="center">Team {{ this.blueTeam1 }}</td><td algin="center">Team {{ this.blueTeam2 }}</td><td algin="center">Team {{ this.blueTeam3 }}</td></tr></table>
            <img src = "https://scouting.team195.com/images/frc{{this.blueTeam1}}.jpg" alt="No picture of {{this.blueTeam1}} yet :(" width="33%">
            <img src = "https://scouting.team195.com/images/frc{{this.blueTeam2}}.jpg" alt="No picture of {{this.blueTeam2}} yet :(" width="33%">
            <img src = "https://scouting.team195.com/images/frc{{this.blueTeam3}}.jpg" alt="No picture of {{this.blueTeam3}} yet :(" width="33%">
        </td>
    </tr>
</table>   
<table style="width: 100%;" *ngIf="display==2">
    <tr> <!--post match data-->
        <td align="right" valign="top">
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=redTeam1 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=redTeam2 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=redTeam3 [color]=1></app-analysis-table>
        </td>
        <td>    
            &nbsp;&nbsp;
        </td>
        <td align="left" valign="top">
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=blueTeam1 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=blueTeam2 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=blueTeam3 [color]=2></app-analysis-table>
        </td>
    </tr>
</table>   
<table style="width: 100%;" *ngIf="display==3">
    <tr> <!--level 2 data-->
        <td align="right" valign="top">
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=redTeam1 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=redTeam2 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=redTeam3 [color]=1></app-analysis-table>
        </td>
        <td>    
            &nbsp;&nbsp;
        </td>
        <td align="left" valign="top">
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=blueTeam1 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=blueTeam2 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=5 [selectedTeam]=blueTeam3 [color]=2></app-analysis-table>
        </td>
    </tr>
</table>   
<table style="width: 100%;" *ngIf="display==4"  class="prediction">
    <tr>
        <th style="width: 40%; background-color: red; color: white;" colspan="3">Red Alliance</th>
        <th style="width: 20%;">Type</th>
        <th style="width: 40%; background-color: blue; color: white;" colspan="3">Blue Alliance</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam1 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam2 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam3 }}</td>
        <td style="width: 20%; background-color: white; text-align: center;">Team</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam1 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam2 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam3 }}</td>
    </tr>
    <ng-container *ngFor="let m of apiMatchList" >
    <ng-container *ngIf="m.matchNum == matchNum">
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.SBredPredAuto}}</td>
            <td style="background-color: white;">Auto</td>
            <td colspan="3" style="text-align: center;">{{ m.SBbluePredAuto}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.SBredPredTele}}</td>
            <td style="background-color: white;">Tele</td>
            <td colspan="3" style="text-align: center;">{{ m.SBbluePredTele}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.SBredPredEndgame}}</td>
            <td style="background-color: white;">Endgame</td>
            <td colspan="3" style="text-align: center;">{{ m.SBbluePredEndgame}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.SBredPredScore}}</td>
            <td style="background-color: white;">Total</td>
            <td colspan="3" style="text-align: center;">{{ m.SBbluePredScore}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;background-color: red; color: white;">{{ m.SBredWinProb}}%</td>
            <td style="background-color: white;">Probability</td>
            <td colspan="3" style="text-align: center;background-color: blue; color: white;">{{ m.SBblueWinProb}}%</td>
        </tr>
    </ng-container>
    </ng-container>
</table> 
<table style="width: 100%;" *ngIf="display==8"  class="prediction">
    <tr>
        <th style="width: 40%; background-color: red; color: white;" colspan="3">Red Alliance</th>
        <th style="width: 20%;">Type</th>
        <th style="width: 40%; background-color: blue; color: white;" colspan="3">Blue Alliance</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam1 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam2 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ redTeam3 }}</td>
        <td style="width: 20%; background-color: white; text-align: center;">Team</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam1 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam2 }}</td>
        <td style="text-align: center; width: 11%; background-color: white;">{{ blueTeam3 }}</td>
    </tr>
    <ng-container *ngFor="let m of apiMatchList" >
    <ng-container *ngIf="m.matchNum == matchNum">
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.redPredAuto}}</td>
            <td style="background-color: white;">Auto</td>
            <td colspan="3" style="text-align: center;">{{ m.bluePredAuto}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.redPredTele}}</td>
            <td style="background-color: white;">Tele</td>
            <td colspan="3" style="text-align: center;">{{ m.bluePredTele}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.redPredEndgame}}</td>
            <td style="background-color: white;">Endgame</td>
            <td colspan="3" style="text-align: center;">{{ m.bluePredEndgame}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;">{{ m.redPredScore}}</td>
            <td style="background-color: white;">Total</td>
            <td colspan="3" style="text-align: center;">{{ m.bluePredScore}}</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="text-align: center;background-color: red; color: white;">{{ m.redWinProb}}%</td>
            <td style="background-color: white;">Probability</td>
            <td colspan="3" style="text-align: center;background-color: blue; color: white;">{{ m.blueWinProb}}%</td>
        </tr>
    </ng-container>
    </ng-container>
</table>  
<table style="width: 100%;height: 80%;" *ngIf="display==5"  class="redL2" >
    <tr>
        <th>{{ redTeam1 }}</th>
        <th>{{ redTeam2 }}</th>
        <th>{{ redTeam3 }}</th>
    </tr>
    <tr>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="redTeam1"></app-level-two>
        </td>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="redTeam2"></app-level-two>
        </td>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="redTeam3"></app-level-two>
        </td>
    </tr>
</table>
<table style="width: 100%;" *ngIf="display==6"  class="blueL2">
    <tr>
        <th>{{ blueTeam1 }}</th>
        <th>{{ blueTeam2 }}</th>
        <th>{{ blueTeam3 }}</th>
    </tr>
    <tr>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="blueTeam1"></app-level-two>
        </td>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="blueTeam2"></app-level-two>
        </td>
        <td style="width: 33%;" valign="top">
            <app-level-two [team]="blueTeam3"></app-level-two>
        </td>
    </tr>
</table>
<table style="width: 100%;" *ngIf="display==7"  class="auto">
    <tr>
        <th style="width: 50%;">{{ redTeam1 }}</th>
        <th style="width: 50%;">{{ blueTeam1 }}</th>
    </tr>
    <tr>
        <td align="center"><app-robot-graphic [selectedTeam]="redTeam1" [justAuto]=1></app-robot-graphic></td>
        <td align="center"><app-robot-graphic [selectedTeam]="blueTeam1" [justAuto]=1></app-robot-graphic></td>
    </tr>
    <tr>
        <th style="width: 50%;">{{ redTeam2 }}</th>
        <th style="width: 50%;">{{ blueTeam2 }}</th>
    </tr>
    <tr>
        <td align="center"><app-robot-graphic [selectedTeam]="redTeam2" [justAuto]=1></app-robot-graphic></td>
        <td align="center"><app-robot-graphic [selectedTeam]="blueTeam2" [justAuto]=1></app-robot-graphic></td>
    </tr>
    <tr>
        <th style="width: 50%;">{{ redTeam3 }}</th>
        <th style="width: 50%;">{{ blueTeam3 }}</th>
    </tr>
    <tr>
        <td align="center"><app-robot-graphic [selectedTeam]="redTeam3" [justAuto]=1></app-robot-graphic></td>
        <td align="center"><app-robot-graphic [selectedTeam]="blueTeam3" [justAuto]=1></app-robot-graphic></td>
    </tr>
</table>
   
