.rowNormal {
    background-color: white;
}

.rowPass {
    background-color: grey;
    color:white;
}

.rowFail {
    background-color: red;
    color: white;
}

button {
    width: 80px;
}

.textBlue {
    color: blue;
}
.textRed {
    color: red;
}

  
