<div>
    <table border="1" class="cea_table">
        <tr><th colspan="10">{{ title }}</th>
        <th><button (click)="changeSort(sortType)">{{ sortType == 1 ? 'Median' : 'Mean' }}</button></th>
    </tr>
        
        <tr>
            <th><div [ngClass]="{'sorted': this.sort==2}"><a (click)="localSort(2)">Team</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==3}"><a (click)="localSort(3)">Auto</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==4}"><a (click)="localSort(4)">AR</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==5}"><a (click)="localSort(5)">AS</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==6}"><a (click)="localSort(6)">Ramp</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==7}"><a (click)="localSort(7)">TC</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==8}"><a (click)="localSort(8)">TH</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==9}"><a (click)="localSort(9)">TLZ</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==10}"><a (click)="localSort(10)">TL</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==11}"><a (click)="localSort(11)">TM</a></div></th>
            <th><div [ngClass]="{'sorted': this.sort==1}"><a (click)="localSort(1)">TT</a></div></th>
        </tr>
        <tr *ngFor="let a of apiSummary_filter">
            <td align="center"><a (click)="teamSelect( a.team )" (dblclick)="teamPage( a.team )"><div [ngClass]="{'sorted': a.team==this.team}">{{ a.team }}</div></a></td>
            <td align="center" class="bg{{ a?.autoGamePiecesFormat }}">{{ sortType == 1 ? a.autoGamePiecesMean : a.autoGamePiecesMedian }}</td>
            <td align="center" class="bg{{ a?.autoRampFormat }}">{{ sortType == 1 ? a.autoRampMean : a.autoRampMedian }}</td>
            <td align="center" class="bg{{ a?.autoScoreFormat }}">{{ sortType == 1 ? a.autoScoreMean : a.autoScoreMedian }}</td>
            <td align="center" class="bg{{ a?.rampFormat }}">{{ sortType == 1 ? a.rampMean : a.rampMedian }}</td>
            <td align="center" class="bg{{ a?.teleCommunityFormat }}">{{ sortType == 1 ? a.teleCommunityMean : a.teleCommunityMedian }}</td>
            <td align="center" class="bg{{ a?.teleHighFormat }}">{{ sortType == 1 ? a.teleHighMean : a.teleHighMedian }}</td>
            <td align="center" class="bg{{ a?.teleLZPickupFormat }}">{{ sortType == 1 ? a.teleLZPickupMean : a.teleLZPickupMedian }}</td>
            <td align="center" class="bg{{ a?.teleLowFormat }}">{{ sortType == 1 ? a.teleLowMean : a.teleLowMedian }}</td>
            <td align="center" class="bg{{ a?.teleMidFormat }}">{{ sortType == 1 ? a.teleMidMean : a.teleMidMedian }}</td>
            <td align="center" class="bg{{ a?.teleTotalFormat }}">{{ sortType == 1 ? a.teleTotalMean : a.teleTotalMedian }}</td>
        </tr>
    </table>
    <table border="0">
        <tr><td width="850"></td></tr>
    </table>
</div>