<table border="1">
    <tr>
        <div *ngFor="let x of apiTeamsList">
            <div *ngIf="x.team + '' == team">   
                <tr>
                    <td><b>Type of Drive: </b></td>
                    <td>{{ x.driveBaseType }}</td>
                    <td><b>Type of Motors: </b></td>
                    <td>{{ x.driveMotorType }}</td>
                </tr>
                <tr>
                    <td><b>Build Type: </b></td>
                    <td>{{ x.buildType }}</td>    
                    <td><b>build Quality: </b></td>
                    <td>{{ x.buildQuality }}</td>
                </tr>
                <tr>
                    <td><b>Center Gravity: </b></td>
                    <td>{{ x.centerGravityType }}</td>     
                </tr>
                <tr>   
                    <td><b>Electrical Quality: </b></td>
                    <td>{{ x.electricalQuality }}</td>  
                    <td><b>Scouting Status</b></td>
                    <td>{{ x.scoutingStatus }}</td>
                </tr>
                <tr>
                    <td><b>Length: </b></td>
                    <td>{{ x.robotLength }} in.</td>
                    <td><b>Width: </b></td>
                    <td>{{ x.robotWidth }} in.</td>
                </tr>
                <tr>
                    <td><b>Height: </b></td>
                    <td>{{ x.robotHeight }} in.</td>
                    <td><b>Intake Type: </b></td>
                    <td>{{ x.dedicatedGroundIntake }} in.</td>
                </tr>
                <tr>
                    <td><b>Robot Durability: </b></td>
                    <td>{{ x.robotdurability }} in.</td>
                </tr>
                <tr>
                    <td><b>Manipulator: </b></td>
                    <td>{{ x.manipulatorType }}</td>
                    <td><b>Climb: </b></td>
                    <td>{{ x.superClimbType }}</td>
                </tr>
                <tr>
                    <td><b>Climb Strategy: </b></td>
                    <td colspan="3">{{ x.generalComments }}</td>
                </tr>
                <tr>
                    <td><b>Build Comments: </b></td>
                    <td colspan="3">{{ x.buildComments }}</td>
                </tr>
                <tr>
                    <td><b>Electrical Comments: </b></td>
                    <td colspan="3">{{ x.electricalComments }}</td>
                </tr>
                
            </div>
        </div>
    </tr>
</table>

<!-- misfit code
 -->
