<table border="1">
    <tr>
        <div *ngFor="let x of apiTeamsList">
            <div *ngIf="x.team + '' == team">
                <tr>
                    <td><b>Type of Drive: </b></td>
                    <td>{{ x.driveType }}</td>
                    <td><b>Type of Motors: </b></td>
                    <td>{{ x.motorType }}</td>
                </tr>
                <tr>
                    <td><b>Build Type: </b></td>
                    <td>{{ x.buildType }}</td>    
                    <td><b>build Quality: </b></td>
                    <td>{{ x.buildQuality }}</td>
                </tr>
                <tr>
                    <td><b>Center Gravity: </b></td>
                    <td>{{ x.centerGravity }}</td>    
                    <td><b>Drive Base: </b></td>
                    <td>{{ x.driveBase }}</td>  
                </tr>
                <tr>
                    <td><b>Drive Type: </b></td>
                    <td>{{ x.driveType }}</td>    
                    <td><b>Electrical Quality: </b></td>
                    <td>{{ x.electricalQuality }}</td>  
                </tr>
                <tr>
                    <td><b>Length: </b></td>
                    <td>{{ x.robotLength }} in.</td>
                    <td><b>Width: </b></td>
                    <td>{{ x.width }} in.</td>
                </tr>
                <tr>
                    <td><b>Height: </b></td>
                    <td>{{ x.height }} in.</td>
                    <td><b>Intake Type: </b></td>
                    <td>{{ x.intakeType }} in.</td>
                </tr>
                <tr>
                    <td><b>Robot Durability: </b></td>
                    <td>{{ x.robotdurability }} in.</td>
                </tr>
                <tr>
                    <td><b>Manupulator?: </b></td>
                    <td>{{ getYesNo(x.manupulator) }}</td>
                    <td><b>buddyClimb: </b></td>
                    <td>{{ getYesNo(x.buddyClimb) }}</td>
                </tr>
                <tr>
                    <td><b>Climb Strategy: </b></td>
                    <td colspan="3">{{ x.generalComments }}</td>
                </tr>
                <tr>
                    <td><b>Build Comments: </b></td>
                    <td colspan="3">{{ x.buildComments }}</td>
                </tr>
                <tr>
                    <td><b>Electrical Comments: </b></td>
                    <td colspan="3">{{ x.electricalComments }}</td>
                </tr>
                
            </div>
        </div>
    </tr>
</table>

<!-- misfit code
 -->
