<table border="1">
    <tr>
        <div *ngFor="let x of apiTeamsList">
            <div *ngIf="x.team + '' == team">   
                <tr>
                    <td><b>Scouting Status</b></td>
                    <div *ngFor="let s of status">
                        <div *ngIf="s.pitStatusID == x.scoutingStatus">      
                    <td class="bg{{ x.scoutingStatus }}">{{s.pitStatus}}</td>
                    </div>
                </div>
                </tr>
                <tr>
                    <td><b>Scouted by: </b></td>
                    <ng-container *ngFor="let s of apiScouters">
                        <td align="left" *ngIf=" x.scouterID == s.scouterID ">{{ s.firstName }}</td>
                    </ng-container>
                </tr>
                <tr>
                    <td><b>Type of Drive: </b></td>
                    <td>{{ x.driveBaseType }}</td>
                </tr>
                <tr>
                    <td><b>Type of Motors: </b></td>
                    <td>{{ x.driveMotorType }}</td>
                </tr>
                <tr>
                    <td><b>Build Type: </b></td>
                    <td>{{ x.buildType }}</td>
                </tr>
                <tr>
                    <td><b>build Quality: </b></td>
                    <td>{{ x.buildQuality }}</td>
                </tr>
                <tr>
                    <td><b>Center Gravity: </b></td>
                    <td>{{ x.centerGravityType }}</td>
                </tr>
                <tr>
                    <td><b>Electrical Quality: </b></td>
                    <td>{{ x.electricalQuality }}</td>     
                </tr>
                
                <tr>
                    <td><b>Length: </b></td>
                    <td data-testid = "robotLength" colspan="3">{{ x.robotLength }} in.</td>
                </tr>
                <tr>
                    <td><b>Width: </b></td>
                    <td colspan="3">{{ x.robotWidth }} in.</td>
                </tr>
                <tr>
                    <td><b>Height: </b></td>
                    <td colspan="3">{{ x.robotHeight }} in.</td>
                </tr>
                <tr>
                    <td><b>Weight: </b></td>
                    <td colspan="3">{{ x.robotWeight }} lbs.</td>
                </tr>
                <tr>
                    <td><b>Intake Type: </b></td>
                    <td>{{ x.dedicatedGroundIntake }} </td>
                </tr>
                <tr>
                    <td><b>Manipulator: </b></td>
                    <td>{{ x.manipulatorType }}</td>
                </tr>
                <tr>
                    <td><b>Brake Mode: </b></td>
                    <td>{{ x.brakeModeType }}</td>
                </tr>
                <tr>
                    <td><b>Robot Durability: </b></td>
                    <td>{{ x.robotdurability }} </td>
                </tr>
                <tr>
                    <td><b>Super Climb: </b></td>
                    <td>{{ x.superClimbType }}</td>
                </tr>
                <tr>
                    <td><b>Build Comments: </b></td>
                    <td colspan="3">{{ x.buildComments }}</td>
                </tr>
                <tr>
                    <td><b>Electrical Comments: </b></td>
                    <td colspan="3">{{ x.electricalComments }}</td>
                </tr>
                <tr>
                    <td><b>general Comments: </b></td>
                    <td colspan="3">{{ x.generalComments }}</td>
                </tr>
            </div>
        </div>
    </tr>
</table>

<!-- misfit code
 -->
