<table style="width: 100%;" border="1">
    <tr>
        <th colspan="4">Offensive Qualities</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td>#{{ x.matchNum }}</td>
            <td>{{ x.commentOff }}</td>
        </tr>
    </ng-container>
    <tr>
        <th colspan="4">Defensive Qualities</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td>#{{ x.matchNum }}</td>
            <td>{{ x.commentDef }}</td>
        </tr>
    </ng-container>
    <tr>
        <th colspan="4">This team is labed as a</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td>#{{ x.matchNum }}</td>
            <td>{{ x.goodOffBot }}</td>
            <td>{{ x.goodDefBot }}</td>
        </tr>
    </ng-container>
    <tr>
        <th colspan="4">Love for Harish</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td colspan="4">{{ x.goodDefBot }}</td>
        </tr>
    </ng-container>
</table>