<table style="width: 100%;" border="1">
    <tr>
        <th colspan="4">Offensive Qualities</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td>#{{ x.matchNum }}</td>
            <td class="bg{{x?.goodOffBot}}">{{ x.commentOff }}</td>
        </tr>
    </ng-container>
    <tr>
        <th colspan="4">Defensive Qualities</th>
    </tr>
    <ng-container *ngFor="let x of apiLevel2">
        <tr *ngIf="x.team + '' == team">
            <td>#{{ x.matchNum }}</td>
            <td class="bg{{x?.goodDefBot}}">{{ x.commentDef }}</td>
        </tr>
    </ng-container>
    <tr>
</table>