<ng-container *ngFor="let x of apiMatchList">
<ng-container *ngIf="x.matchNum == match">
<table border="1" style="width: 300px;">
    <tr>
        <th colspan="4">Match #{{ match }}</th>
    </tr>
    <tr>
        <td colspan="4">{{ x.matchTime }}</td>
    </tr>
    <tr>
        <th colspan="4">Ranking Points</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        <td>Links RP</td>
        <td class="bg{{ x.redSustainabilityBonus }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueSustainabilityBonus }}" style="width: 16px;"></td>
        <td>Links RP</td>
    </tr>
    <tr>
        <td>Charging Zone RP</td>
        <td class="bg{{ x.redActivationBonus }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueActivationBonus }}" style="width: 16px;"></td>
        <td>Charging Zone RP</td>
    </tr>
    <tr>
        <th colspan="4">Score</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
        <td colspan="2">{{ x.redTotalPts }}</td>
        <td colspan="2">{{ x.blueTotalPts }}</td>
        
    </tr>
    <tr>
        <th colspan="4">Auto Score</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
        <td colspan="2">{{ x.redAutoPts }}</td>
        <td colspan="2">{{ x.blueAutoPts }}</td>
        
    </tr>
    <tr>
        
       
        <th colspan="4">Tele Score</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
        <td colspan="2">{{ x.redTelePts - x.redEndgameCSPts }}</td>
        <td colspan="2">{{ x.blueTelePts - x.blueEndgameCSPts }}</td>
        
    </tr>
    <tr>
        <th colspan="4">EndGame Score</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
        <td colspan="2">{{ x.redEndgameCSPts }}</td>
        <td colspan="2">{{ x.blueEndgameCSPts }}</td>
        
    </tr>





    <tr>
        <th colspan="4">Auto Details</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        <td>Move Bonus</td>
        <td style="width: 16px;">{{ x.redAutoMoveBonusPts }}</td>
        <td style="width: 16px;">{{ x.blueAutoMoveBonusPts }}</td>
        <td>Move Bonus</td>
    </tr>
    <tr>
        <td> Game Piece Points</td>
        <td style="width: 16px;">{{ x.redAutoGamePiecePts }}</td>
        <td style="width: 16px;">{{ x.blueAutoGamePiecePts }}</td>
        <td>Game Piece Points</td>
    </tr>
    <tr>
        <td>Ramp Pts</td>
        <td style="width: 16px;">{{ x.redAutoCSPts }}</td>
        <td style="width: 16px;">{{ x.blueAutoCSPts }}</td>
        <td>Ramp Pts</td>
    </tr>
    <tr>
        <td>Game Pieces</td>
        <td style="width: 16px;">{{ x.redAutoGamePieces }}</td>
        <td style="width: 16px;">{{ x.blueAutoGamePieces }}</td>
        <td>Game Pieces</td>
    </tr>



    <tr>
        <th colspan="4">Tele Details</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        <td>Game Pieces</td>
        <td class="bg{{ x.redTeleGamePieces }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueTeleGamePieces }}" style="width: 16px;"></td>
        <td>Game Pieces</td>
    </tr>
    <tr>
        <td>Game Piece Points</td>
        <td class="bg{{ x.redTeleGamePiecePts }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueTeleGamePiecePts }}" style="width: 16px;"></td>
        <td>Game Piece Points</td>
    </tr>
    




    
    <tr>
        <th colspan="4">Bonuses</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        <td>Coopertiton Bonus</td>
        <td class="bg{{ x.redCoopertitionBonus }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueCoopertitionBonus }}" style="width: 16px;"></td>
        <td>Coopertition Bonus</td>
    </tr>
    <tr>
        <td>Activation Bonus</td>
        <td class="bg{{ x.redActivationBonus }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueActivationBonus }}" style="width: 16px;"></td>
        <td>Coopertition Bonus</td>
    </tr>
    <tr>
        <td>Sustainability Bonus</td>
        <td class="bg{{ x.redSustainabilityBonus }}" style="width: 16px;"></td>
        <td class="bg{{ x.blueSustainabilityBonus }}" style="width: 16px;"></td>
        <td>Sustainability Bonus</td>
    </tr>
    <tr>
        <th colspan="4">Fouls</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
                <td colspan="2">{{ x.redFouls }}</td>
                <td colspan="2">{{ x.blueFouls }}</td>
        
    </tr>
    <tr>
        <th colspan="4">Tech Fouls</th>
    </tr>
    <tr>
        <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
        <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
    </tr>
    <tr>
        
                <td colspan="2">{{ x.redTechFouls }}</td>
                <td colspan="2">{{ x.blueTechFouls }}</td>
        
    </tr>
    <th colspan="4">Coopertition Game Piece Count</th>

<tr>
    <th colspan="2" style="background-color: red;color: white;">Red Alliance</th>
    <th colspan="2" style="background-color: blue;color: white;">Blue Alliance</th>
</tr>
<tr>
    <td colspan="2">{{ x.redCoopGamePieceCount }}</td>
    <td colspan="2">{{ x.blueCoopGamePieceCount }}</td>
</tr>
    

</table>
</ng-container>
</ng-container>
