<table align="center" width="50%">
    <tr>
        <th>
            Welcome to the Cyberscouter&trade;!
        </th>
    </tr>
    <tr>
        <td style="font-size: medium;">
            Here, you can access all of the data for our matches. 
            The team picker allows you to select the best alliance to pair with, with customizable graphs to choose from. 
            The robot snapshot allows you to see individual profiles of each robot. 
            The match report has reports of different matches with data from each robot in the alliance.
           
        </td>
    </tr>
    <p></p>
    <tr>
        <td align="center"><img src="https://media.discordapp.net/attachments/971142045366358056/1066485725807251608/2022_195_CK_sword_logo_Cyberknights_Black.png?width=599&height=468" alt="logo" width="300" height="200"></td>
    </tr>
    <p></p>
    <tr>
        <td style="color: rgb(148, 1, 148);font-size: large; text-align: center;"><a routerLink="/mobile"><b>Mobile Version</b></a></td>
    </tr>
    
</table>
