
<table border="1" class="cea_table">
    <tr *ngIf="!titleShow">
        <th [ngClass]="{'titleR': color == 1, 'titleB' : color == 2 }" (dblclick)="teamPage( selectedTeam )" colspan="16">{{selectedTeam}}</th>
    </tr>
    <tr>
        <th style="width: 70px;">Type</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>Q5</th>
        <th>Q6</th>
        <th>Q7</th>
        <th>Q8</th>
        <th>Q9</th>
        <th>Q10</th>
        <th>Q11</th>
        <th>Q12</th>
        <th>A</th>
        <th>M</th>
        <th>R</th>
        <!-- <th>S</th> -->
    </tr>
    <tr *ngFor="let a of apiAnalysis_filter | slice:0:2">
        <ng-container *ngFor="let x of apiTypes">
            <td align="center" *ngIf=" x.analysisType == a.analysisType" title="{{ x.summary }}">{{ a.analysisType }}</td>
        </ng-container>
         <!-- <a href="file:///C:/ck/video/Q7.mov" target="_blank"></a> -->
        <td align="center" class="bg{{ a?.M1F }}">{{ a.M1D }}</td>
        <td align="center" class="bg{{ a?.M2F }}">{{ a.M2D }}</td>
        <td align="center" class="bg{{ a?.M3F }}">{{ a.M3D }}</td>
        <td align="center" class="bg{{ a?.M4F }}">{{ a.M4D }}</td>
        <td align="center" class="bg{{ a?.M5F }}">{{ a.M5D }}</td>
        <td align="center" class="bg{{ a?.M6F }}">{{ a.M6D }}</td>
        <td align="center" class="bg{{ a?.M7F }}">{{ a.M7D }}</td>
        <td align="center" class="bg{{ a?.M8F }}">{{ a.M8D }}</td>
        <td align="center" class="bg{{ a?.M9F }}">{{ a.M9D }}</td>
        <td align="center" class="bg{{ a?.M10F }}">{{ a.M10D }}</td>
        <td align="center" class="bg{{ a?.M11F }}">{{ a.M11D }}</td>
        <td align="center" class="bg{{ a?.M12F }}">{{ a.M12D }}</td>
        <td align="center" class="bg{{ a?.S1F }}">{{ a.S1D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S2F }}">{{ a.S2D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S3F }}">{{ a.S3D }}</td>
        <!-- <td align="center" class="bg{{ a?.Summary4Format }}">{{ a.Summary4Display }}</td> -->
    </tr>
    <tr *ngIf="!titleShow">
        <th colspan="16">&nbsp;</th>
    </tr>
    <tr *ngFor="let a of apiAnalysis_filter | slice:2:6">
        <ng-container *ngFor="let x of apiTypes">
            <td align="center" *ngIf=" x.analysisType == a.analysisType" title="{{ x.summary }}">{{ a.analysisType }}</td>
        </ng-container>
<!--         <a href="file:///C:/ck/video/Q1.mp4" target="_blank"></a> -->
        <td align="center" class="bg{{ a?.M1F }}">{{ a.M1D }}</td>
        <td align="center" class="bg{{ a?.M2F }}">{{ a.M2D }}</td>
        <td align="center" class="bg{{ a?.M3F }}">{{ a.M3D }}</td>
        <td align="center" class="bg{{ a?.M4F }}">{{ a.M4D }}</td>
        <td align="center" class="bg{{ a?.M5F }}">{{ a.M5D }}</td>
        <td align="center" class="bg{{ a?.M6F }}">{{ a.M6D }}</td>
        <td align="center" class="bg{{ a?.M7F }}">{{ a.M7D }}</td>
        <td align="center" class="bg{{ a?.M8F }}">{{ a.M8D }}</td>
        <td align="center" class="bg{{ a?.M9F }}">{{ a.M9D }}</td>
        <td align="center" class="bg{{ a?.M10F }}">{{ a.M10D }}</td>
        <td align="center" class="bg{{ a?.M11F }}">{{ a.M11D }}</td>
        <td align="center" class="bg{{ a?.M12F }}">{{ a.M12D }}</td>
        <td align="center" class="bg{{ a?.S1F }}">{{ a.S1D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S2F }}">{{ a.S2D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S3F }}">{{ a.S3D }}</td>
        <!-- <td align="center" class="bg{{ a?.Summary4Format }}">{{ a.Summary4Display }}</td> -->
    </tr>
    <tr *ngIf="!titleShow">
        <th colspan="16">&nbsp;</th>
    </tr>
    <tr *ngFor="let a of apiAnalysis_filter | slice:6:14">
        <ng-container *ngFor="let x of apiTypes">
            <td align="center" *ngIf=" x.analysisType == a.analysisType" title="{{ x.summary }}">{{ a.analysisType }}</td>
        </ng-container>
         <!-- <a href="file:///C:/ck/video/Q7.mov" target="_blank"></a> -->
        <td align="center" class="bg{{ a?.M1F }}">{{ a.M1D }}</td>
        <td align="center" class="bg{{ a?.M2F }}">{{ a.M2D }}</td>
        <td align="center" class="bg{{ a?.M3F }}">{{ a.M3D }}</td>
        <td align="center" class="bg{{ a?.M4F }}">{{ a.M4D }}</td>
        <td align="center" class="bg{{ a?.M5F }}">{{ a.M5D }}</td>
        <td align="center" class="bg{{ a?.M6F }}">{{ a.M6D }}</td>
        <td align="center" class="bg{{ a?.M7F }}">{{ a.M7D }}</td>
        <td align="center" class="bg{{ a?.M8F }}">{{ a.M8D }}</td>
        <td align="center" class="bg{{ a?.M9F }}">{{ a.M9D }}</td>
        <td align="center" class="bg{{ a?.M10F }}">{{ a.M10D }}</td>
        <td align="center" class="bg{{ a?.M11F }}">{{ a.M11D }}</td>
        <td align="center" class="bg{{ a?.M12F }}">{{ a.M12D }}</td>
        <td align="center" class="bg{{ a?.S1F }}">{{ a.S1D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S2F }}">{{ a.S2D | number : '1.1-1' }}</td>
        <td align="center" class="bg{{ a?.S3F }}">{{ a.S3D }}</td>
        <!-- <td align="center" class="bg{{ a?.Summary4Format }}">{{ a.Summary4Display }}</td> -->
    </tr>
</table>
