
<table>
    <tr>
        <td>
            <ng-container *ngFor="let x of apiAnalysis">
            <ng-container *ngIf="x.team == selectedTeam">
            <table id="field" style="border: 4px solid black; border-collapse: collapse;" *ngIf="x.analysisTypeID == 90">
                <tr>
                    <td colspan="4" class="red"></td>
                    <td class="carpet"></td>
                </tr>
                <tr>
                    <td colspan="2" class="red" style="border-bottom: 4px solid black"></td>
                    <td colspan="3" class="carpet"></td>
                </tr>
                <tr>
                    <td rowspan="4" class="blue"></td>
                    <td [ngStyle]="{'background-color': x.S1D}">{{ x.S1V }}<br>%</td>
                    <td colspan="2" class="carpet"></td>
                    <td class="carpet">🟪</td>
                </tr>
                <tr>
                    <td rowspan="2" [ngStyle]="{'background-color': x.S2D}">{{ x.S2V }}<br>%</td>
                    <td class="blue" rowspan="2" style="color: white;">E%:<br>{{ x.M1D }}<br><br>D%:<br>{{ x.M2D }}</td>
                    <td class="carpet" rowspan="2">P%:<br>{{ x.M3D }}</td>
                    <td class="carpet">🟡</td>
                </tr>
                <tr>
                    <td class="carpet">🟡</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'background-color': x.S3D}">{{ x.S3V }}<br>%</td>
                    <td [ngStyle]="{'background-color': x.S4D}">{{ x.S4V }}<br>%</td>
                    <td class="carpet"></td>
                    <td class="carpet">🟪</td>
                </tr>
                
            </table>
            </ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container *ngFor="let x of apiAnalysis">
            <ng-container *ngIf="x.team == selectedTeam">
            <table id="tele" style="border: 4px solid black; border-collapse: collapse;" *ngIf="x.analysisTypeID == 91"> 
                <tr>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                    <td>🟪<br>{{ x.S4V }}%</td>
                    <td>🟡<br>{{ x.S4D }}%</td>
                </tr>
                <tr>
                    <td class="bg{{ x.S1F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S1D }}%</td>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                </tr>
                <tr>
                    <td class="grid"></td>
                    <td class="bg{{ x.S2F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S2D }}%</td>
                </tr>
                <tr>
                    <td colspan="2" class="grid">Avg GP: {{ x.M5D }}</td>
                    <td class="bg{{ x.S3F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S3D }}%</td>
                </tr>
            </table>
            </ng-container>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            
                <table id="auto" align="center" style="border: 4px solid black; border-collapse: collapse;">
                    <ng-container *ngFor="let x of apiAnalysis">
                    <ng-container *ngIf="x.team == selectedTeam">
                    <tr *ngIf="x.analysisTypeID == 81">
                        <td [ngStyle]="{'background-color': x.M1D}">{{ x.M1V }}%</td>
                        <td [ngStyle]="{'background-color': x.M2D}">{{ x.M2V }}%</td>
                        <td [ngStyle]="{'background-color': x.M3D}">{{ x.M3V }}%</td>
                        <td [ngStyle]="{'background-color': x.M4D}">{{ x.M4V }}%</td>
                        <td [ngStyle]="{'background-color': x.M5D}">{{ x.M5V }}%</td>
                        <td [ngStyle]="{'background-color': x.M6D}">{{ x.M6V }}%</td>
                        <td [ngStyle]="{'background-color': x.M7D}">{{ x.M7V }}%</td>
                        <td [ngStyle]="{'background-color': x.M8D}">{{ x.M8V }}%</td>
                        <td [ngStyle]="{'background-color': x.M9D}">{{ x.M9V }}%</td>
        
                    </tr>
                    <tr *ngIf="x.analysisTypeID == 82">
                        <td [ngStyle]="{'background-color': x.M1D}">{{ x.M1V }}%</td>
                        <td [ngStyle]="{'background-color': x.M2D}">{{ x.M2V }}%</td>
                        <td [ngStyle]="{'background-color': x.M3D}">{{ x.M3V }}%</td>
                        <td [ngStyle]="{'background-color': x.M4D}">{{ x.M4V }}%</td>
                        <td [ngStyle]="{'background-color': x.M5D}">{{ x.M5V }}%</td>
                        <td [ngStyle]="{'background-color': x.M6D}">{{ x.M6V }}%</td>
                        <td [ngStyle]="{'background-color': x.M7D}">{{ x.M7V }}%</td>
                        <td [ngStyle]="{'background-color': x.M8D}">{{ x.M8V }}%</td>
                        <td [ngStyle]="{'background-color': x.M9D}">{{ x.M9V }}%</td>
        
                    </tr>
                    <tr *ngIf="x.analysisTypeID == 83">
                        <td [ngStyle]="{'background-color': x.M1D}">{{ x.M1V }}%</td>
                        <td [ngStyle]="{'background-color': x.M2D}">{{ x.M2V }}%</td>
                        <td [ngStyle]="{'background-color': x.M3D}">{{ x.M3V }}%</td>
                        <td [ngStyle]="{'background-color': x.M4D}">{{ x.M4V }}%</td>
                        <td [ngStyle]="{'background-color': x.M5D}">{{ x.M5V }}%</td>
                        <td [ngStyle]="{'background-color': x.M6D}">{{ x.M6V }}%</td>
                        <td [ngStyle]="{'background-color': x.M7D}">{{ x.M7V }}%</td>
                        <td [ngStyle]="{'background-color': x.M8D}">{{ x.M8V }}%</td>
                        <td [ngStyle]="{'background-color': x.M9D}">{{ x.M9V }}%</td>
        
                    </tr>
                    </ng-container>
                    </ng-container>
                    <tr>
                        <td colspan="2"></td>
                        <td class="carpet" colspan="5" style="font-size: larger; font-weight: bolder;">Charge Station</td>
                    </tr>
                </table>
        </td>
    </tr>
</table>
