<table>
    <tr>
        <td>
            <table id="field" style="border: 4px solid black; border-collapse: collapse;">
                <tr>
                    <td colspan="4" class="red"></td>
                    <td class="carpet"></td>
                </tr>
                <tr>
                    <td colspan="2" class="red" style="border-bottom: 4px solid black"></td>
                    <td colspan="3" class="carpet"></td>
                </tr>
                <tr>
                    <td rowspan="4" class="blue"></td>
                    <td class="r2">30%</td>
                    <td colspan="2" class="carpet"></td>
                    <td style="background-color: purple;"></td>
                </tr>
                <tr>
                    <td class="r4">10%</td>
                    <td class="blue" rowspan="2" style="color: white;">55%</td>
                    <td class="carpet"></td>
                    <td style="background-color: yellow;"></td>
                </tr>
                <tr>
                    <td class="r1">40%</td>
                    <td class="carpet"></td>
                    <td style="background-color: yellow;"></td>
                </tr>
                <tr>
                    <td class="r3">20%</td>
                    <td colspan="2" class="carpet"></td>
                    <td style="background-color: purple;"></td>
                </tr>
                
            </table>
        </td>
        <td>
            <table id="tele" style="border: 4px solid black; border-collapse: collapse;">
                <tr>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                </tr>
                <tr>
                    <td class="grid" style="border-top: 2px dotted black;border-right: 2px dotted black;">40%</td>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                </tr>
                <tr>
                    <td class="grid"></td>
                    <td class="grid" style="border-top: 2px dotted black;border-right: 2px dotted black;">40%</td>
                </tr>
                <tr>
                    <td colspan="2" class="grid"></td>
                    <td class="grid" style="border-top: 2px dotted black;border-right: 2px dotted black;">20%</td>
                </tr>
            </table>
        </td>
    </tr>
</table>