<ng-container *ngFor="let x of apiAnalysis">
<ng-container *ngIf="x.team == selectedTeam">
<table>
    <tr>
        <td>
            <table id="field" style="border: 4px solid black; border-collapse: collapse;" *ngIf="x.analysisTypeID == 90">
                <tr>
                    <td colspan="4" class="red"></td>
                    <td class="carpet"></td>
                </tr>
                <tr>
                    <td colspan="2" class="red" style="border-bottom: 4px solid black"></td>
                    <td colspan="3" class="carpet"></td>
                </tr>
                <tr>
                    <td rowspan="4" class="blue"></td>
                    <td class="r2">{{ x.M1D }}</td>
                    <td colspan="2" class="carpet"></td>
                    <td style="background-color: purple;"></td>
                </tr>
                <tr>
                    <td class="r4">10%</td>
                    <td class="blue" rowspan="2" style="color: white;">55%</td>
                    <td class="carpet"></td>
                    <td style="background-color: yellow;"></td>
                </tr>
                <tr>
                    <td class="r1">40%</td>
                    <td class="carpet"></td>
                    <td style="background-color: yellow;"></td>
                </tr>
                <tr>
                    <td class="r3">20%</td>
                    <td colspan="2" class="carpet"></td>
                    <td style="background-color: purple;"></td>
                </tr>
                
            </table>
        </td>
        <td>
            <table id="tele" style="border: 4px solid black; border-collapse: collapse;" *ngIf="x.analysisTypeID == 91">
                <tr>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                    <td>🟪<br>{{ x.S4V }}%</td>
                    <td>🟡<br>{{ x.S4D }}%</td>
                </tr>
                <tr>
                    <td class="bg{{ x.S1F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S1D }}%</td>
                    <td style="vertical-align: bottom;font-size: xx-large;font-weight: bold;">|</td>
                </tr>
                <tr>
                    <td class="grid"></td>
                    <td class="bg{{ x.S2F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S2D }}%</td>
                </tr>
                <tr>
                    <td colspan="2" class="grid"></td>
                    <td class="bg{{ x.S3F }}" style="border-top: 2px dotted black;border-right: 2px dotted black;">{{ x.S3D }}%</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <table id="auto" align="center" style="border: 4px solid black; border-collapse: collapse;">
            <tr *ngIf="x.analysisTypeID == 81">
                <td>{{ x.M1D }}</td>
                <td>{{ x.M2D }}</td>
                <td>{{ x.M3D }}</td>
                <td>{{ x.M4D }}</td>
                <td>{{ x.M5D }}</td>
                <td>{{ x.M6D }}</td>
                <td>{{ x.M7D }}</td>
                <td>{{ x.M8D }}</td>
                <td>{{ x.M9D }}</td>
            </tr>
            <tr *ngIf="x.analysisTypeID == 82">
                <td>{{ x.M1D }}</td>
                <td>{{ x.M2D }}</td>
                <td>{{ x.M3D }}</td>
                <td>{{ x.M4D }}</td>
                <td>{{ x.M5D }}</td>
                <td>{{ x.M6D }}</td>
                <td>{{ x.M7D }}</td>
                <td>{{ x.M8D }}</td>
                <td>{{ x.M9D }}</td>
            </tr>
            <tr *ngIf="x.analysisTypeID == 83">
                <td>{{ x.M1D }}</td>
                <td>{{ x.M2D }}</td>
                <td>{{ x.M3D }}</td>
                <td>{{ x.M4D }}</td>
                <td>{{ x.M5D }}</td>
                <td>{{ x.M6D }}</td>
                <td>{{ x.M7D }}</td>
                <td>{{ x.M8D }}</td>
                <td>{{ x.M9D }}</td>
            </tr>
        </table>
    </tr>
</table>
</ng-container>
</ng-container>